<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>


  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>

      <!-- REST API credentials -->
      <add name="clientId" value="_client_Id_"/>
      <add name="clientSecret" value="_client_secret_"/>

      <!-- Classic API credentials -->
      <add name="account1.apiUsername" value="_api_username_"/>
      <add name="account1.apiPassword" value="_api_password_"/>
    </settings>
  </paypal>
</configuration>